<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
	      <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
      </div>
      <div class="col-lg-4">
	      <p>Kurt is an avid maker of fine and silly things.</p>
	      <p>As a collector of skills, he is always seeking new materials and techniques to experiment with.</p>
	      <p>Check out his social media for more project photos and updates!</p>
	      <p>kurt AT kurtrooks DOT com</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
	      <!--
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
	      -->
        </a>
      </div>
    </div>
  </div>
</section>
